<!DOCTYPE html>

<html ng-app="demo">
	<head>
		<meta name="viewport" content="width=device-width" />
		<title text="">Angular JS Sliding Menu</title>
		
		<style type="text/less" src="stylesheet.less"></style>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
		
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body ng-controller="modalDemo">
		<h1>Angular JS Sliding Menu</h1>
		<span>This page demonstrates how a menu panel can be slid in from the side of the screen using Angular JS. It's a great directive to use for mobile devices.</span>
		<span>The menu itself is an Angular JS directive, and I'm using LESS CSS for some of the more complicated CSS rules. I highly recommend you check them out.</span>
		<button ng-click="showLeft($event)">Show Left Menu!</button>
        <button ng-click="showRight($event)">Show Right Menu!</button>
		
		<menu visible="leftVisible" alignment="left">
            <menu-item hash="first-page">First Page</menu-item>
            <menu-item hash="second-page">Second Page</menu-item>
            <menu-item hash="third-page">Third Page</menu-item>
        </menu>
        
        <menu visible="rightVisible" alignment="right">
            <menu-item hash="first-page">First Page</menu-item>
            <menu-item hash="second-page">Second Page</menu-item>
            <menu-item hash="third-page">Third Page</menu-item>
        </menu>
	</body>
</html>
